<body class="form">
  <h1 class="center white-text">Create A Trip</h1>

  <%= render(partial: 'form') %>

  <br />
  <div class='center'>
  <%= link_to 'All Trips', trips_path, class:'btn cyan white-text' %>
  </div>
</body>